@import '../abstract/variaveis';

#curiosidades {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;

  .curiosidades__container {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 40vw;
    align-items: center;
    font-size: $tamanho-texto / 2.5;
    color: $cor-primaria;

    p {
      width: 70vw;
    }
  }
}